apiVersion: v1
kind: Secret
metadata:
  name: click-dog-secret
  namespace: click-dog
  labels:
    app.kubernetes.io/name: click-dog
type: Opaque
data:
  CLICKHOUSE_USERNAME: {{ .B64Username }}
  CLICKHOUSE_PASSWORD: {{ .B64Password }}
